<!DOCTYPE html>
<html>
	<head>
		<title>Testing Template</title>
		<link rel="stylesheet"  href="css/normalize.css">
		<link rel="stylesheet"  href="css/style.css">

	</head>
	<body>
		<div class="container">
			<header>
			<div class="headertop">
				<h3>My Name</h3>
				<nav>
					<ul>
						<li>Section1</li>
						<li>Section2</li>
						<li>Section3</li>
						<li>Section4</li>
					</ul>
				</nav>
			</div>
			<div class="headercent">
				<h1>My Job</h1>
			</div>

		</header>
		<article>
			<div class="section1 odd sec">
				<h3>My skills &#45; Section1</h3>
				<ul>
					<li>Skill1</li>
					<li>Skill2</li>
					<li>Skill3</li>
					<li>Skill4</li>
				</ul>
			</div>
			<div class="section2 even sec">
				<h3>My Projects &#45; Section2</h3>
				<ul>
					<li>Proj1</li>
					<li>Proj2</li>
					<li>Proj3</li>
					<li>Proj4</li>
				</ul>

			</div>
			<div class="section3 odd sec">
				<h3>TimeLine &#45; Section3</h3>
				<ul>
					<li>2030
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</li>
					<li>2040
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</li>
					<li>2050
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</li>
					<li>2060
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</li>
				</ul>
				
			</div>
			<div class="section4 even sec">
				<h3>Contact Me &#45; Section4</h3>
				<form method="post" action="#">
					<input type="text" name="Fname" placeholder="Type your name">
					<br>
					<br>
					<input type="email" name="email" placeholder="Type your email">
					<br>
					<br>
					<textarea name="message" rows="10" cols="30" placeholder="Type your message"></textarea>
					<br>
					<input type="submit">

				</form>
			</div>
		</article>
		<footer>
			<p>All rights Reserved &copy; 2016</p>
		</footer>

		</div>
	</body>
</html>